<footer class="footer">
    <div class="footer-container">
      <div class="footer-grid">
        <!-- Email -->
        <div class="footer-item">
          <mat-icon>email</mat-icon>
          <a href="rakeshmareddy42@gmail.com">Gmail</a>
        </div>
  
        <!-- GitHub -->
        <div class="footer-item">
          <mat-icon>code</mat-icon>
          <a href="https://github.com/JamesJava42" target="_blank">GitHub</a>
        </div>
  
        <!-- LinkedIn -->
        <div class="footer-item">
          <mat-icon>work</mat-icon>
          <a href="https://www.linkedin.com/in/rakesh-reddy-51588a202/" target="_blank">LinkedIn</a>
        </div>
  
        <!-- Portfolio or Other Links -->
        <!-- <div class="footer-item">
          <mat-icon>link</mat-icon>
          <a href="https://your-portfolio-link.com" target="_blank">Portfolio</a>
        </div> -->
      </div>
    </div>
  </footer>
  