/* src/app/shared/components/skill-chip/skill-chip.component.scss */
:host {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 1rem; /* Adjusted padding */
  border-radius: 8px; /* Adjusted border radius */
  font-size: 0.9rem; /* Adjusted font size */
  font-weight: 500; /* Adjusted font weight */
  transition: all 0.2s ease-in-out;
  cursor: default;
  border: 1px solid transparent; /* Added border */
}

/* Default Style */
:host {
  background-color: #e5e7eb; /* Lighter background */
  color: #374151; /* Darker text */
}

/* Technology Specific Colors */
:host.aws {
  background-color: #ffedd5; /* Lighter AWS orange */
  color: #78350f; /* Darker text */
  border-color: #fb923c; /* Border for emphasis */
}

:host.gcp {
  background-color: #dbeafe; /* Lighter GCP blue */
  color: #1e3a8a;
  border-color: #60a5fa;
}

:host.kubernetes {
  background-color: #e0f2fe; /* Lighter Kubernetes blue */
  color: #1e40af;
  border-color: #3b82f6;
}

:host.docker {
  background-color: #d1fae5; /* Lighter Docker green */
  color: #15803d;
  border-color: #6ee7b7;
}

:host.spring {
  background-color: #f0fdf4; /* Lighter Spring green */
  color: #1a563c;
  border-color: #86efac;
}

:host.angular {
  background-color: #fce7f3; /* Lighter Angular red */
  color: #9f1239;
  border-color: #f472b6;
}

/* Dark Mode */
.dark :host {
  background-color: #374151; /* Darker background */
  color: #d1d5db; /* Lighter text */
}

.dark :host.aws,
.dark :host.gcp,
.dark :host.kubernetes,
.dark :host.docker,
.dark :host.spring,
.dark :host.angular {
  color: #e5e7eb; /* Lighter text in dark mode */
}