.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a96d2;
  padding: 40px 20px;
}

.main-title {
  font-size: 26px;
  font-weight: bold;
  color: #040e15;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 900px;
}

.project-card {
  background: rgb(215, 234, 240);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  background: #1e88e5;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.view-project {
  color: white;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #bbdefb;
  }
}

mat-card-content {
  padding: 16px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 10px;
}

.chip {
  background-color: #e3f2fd;
  color: #0d47a1;
  font-weight: 500;
}
